<div class="container">
    <div class="row" *ngFor="let currentCity of listOfCities">
        <div class="col-sm">
            <div class="table-header">
                Ранглиста гр.{{ currentCity }}
                <div class="divTable blueTable">
                    <div class="divTableHeading">
                        <div class="divTableRow">
                            <div class="divTableHead">Ранг</div>
                            <div class="divTableHead">Име</div>
                        </div>
                    </div>
                    <div class="divTableBody">
                        <div *ngFor="let player of players" class="divTableRow">
                            <div *ngIf="player.city === currentCity" class="divTableCell players">{{ player.rank }}</div>
                            <div *ngIf="player.city === currentCity" class="divTableCell players" routerLink='/profile/{{player.id}}'>{{ player.name + ' ' + player.lastName}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="table-header">
                Race to FINAL гр.{{ currentCity }}
                <div class="divTable blueTable">
                    <div class="divTableHeading">
                        <div class="divTableRow">
                            <div class="divTableHead">Име</div>
                            <div class="divTableHead">Точки</div>
                        </div>
                    </div>
                    <div class="divTableBody">
                        <div *ngFor="let player of players" class="divTableRow">
                            <div *ngIf="player.city === currentCity" class="divTableCell players">{{ player.name + ' ' + player.lastName}}</div>
                            <div *ngIf="player.city === currentCity" class="divTableCell players">{{ player.points }}</div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="col-sm">
           third column
        </div>
    </div>
</div>
