<div>
    <h1>Влез</h1>
</div>
<br>
<div *ngIf="response != null && response.success === true" class="success-msg">
    <i class="fa fa-check"></i>
    {{ response.message }}
</div>

<div *ngIf="response != null && response.success === false" class="error-msg">
    <i class="fa fa-times-circle"></i>
    {{ response.message }}
  </div>
<br>
<div class="container">
    <div class="row">
        <div class="col-sm-2">
        </div>
        <div class="col-sm">
            <form #f="ngForm">
                <div class="form-group col-md-6">
                    <div class="form-group">
                        <label for="inputEmail">Email</label>
                        <input #userEmail="ngModel" type="email" [class.input-error]="userEmail.touched && !!userEmail.errors" 
                                class="form-control" id="inputEmail" name="email" placeholder="Email" ngModel required email>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputPassword">Парола</label>
                        <input #userPassword="ngModel" type="password" [class.input-error]="userPassword.touched && !!userPassword.errors" 
                        class="form-control" id="inputPassword" name="password" placeholder="Парола" ngModel required>
                    </div>
                </div>        
                <div>
                    <span>
                        <button type="submit" [disabled]="f.invalid" class="btn btn-primary" (click)="loginHandler(f.value)">Влез</button>
                    </span>
                    <br>
                    <br>
                    <br>
                    <span>
                        Нямам регистрация
                        <button type="submit" class="btn btn-primary" routerLink="/register">Регистрирай се</button>
                    </span>
                </div>
                
            </form>
        </div>
        <div class="col-sm-2">
        </div>
    </div>
</div>