<div>
    <h1>Регистрация</h1>
</div>
<br>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-sm-2">
        </div>
        <div class="col-sm">
            <form>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputName">Име</label>
                        <input type="text" class="form-control" id="inputName" placeholder="Име">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputLastName">Фамилия</label>
                        <input type="text" class="form-control" id="inputLastName" placeholder="Фамилия">
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <div class="form-group">
                        <label for="inputEmail">Email</label>
                        <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputPassword">Парола</label>
                        <input type="password" class="form-control" id="inputPassword" placeholder="Парола">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputConfirmPassword">Потвърдете паролата</label>
                        <input type="password" class="form-control" id="inputConfirmPassword" placeholder="Потвърдете паролата">
                    </div>
                </div>        
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputCity">Град</label>
                        <select id="inputCity" class="form-control">
                            <option selected>Изберете...</option>
                            <option>Шумен</option>
                            <option>Варна</option>
                            <option>Бургас</option>
                            <option>Добрич</option>
                            <option>Сливен</option>
                        </select>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputAge">Възраст</label>
                        <input type="number" class="form-control" id="inputAge">
                    </div>
                </div>
                <div>
                    <span>
                        <button type="submit" class="btn btn-primary">Регистрирай ме</button>
                    </span>
                    <br>
                    <br>
                    <br>
                    <span>
                        Имам Регистрация
                        <button type="submit" class="btn btn-primary">Влез</button>
                    </span>
                </div>
                
            </form>
        </div>
        <div class="col-sm-2">
        </div>
    </div>
</div>