<div>
    <h1>Регистрация</h1>
</div>
<br>
<div *ngIf="response != null && response.success === true" class="success-msg">
    <i class="fa fa-check"></i>
    {{ response.message }}
</div>

<div *ngIf="response != null && response.success === false" class="error-msg">
    <i class="fa fa-times-circle"></i>
    {{ response.message }}
  </div>
<div class="container">
    <div class="row">
        <div class="col-sm-2">
        </div>
        <div class="col-sm">
            <form #f="ngForm">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputName">Име</label>
                        <input type="text" class="form-control" id="inputName" name="name" placeholder="Име" ngModel>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputLastName">Фамилия</label>
                        <input type="text" class="form-control" id="inputLastName" name="lastName" placeholder="Фамилия" ngModel>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <div class="form-group">
                        <label for="inputEmail">Email</label>
                        <input type="email" class="form-control" id="inputEmail" name="email" placeholder="Email" ngModel>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputPassword">Парола</label>
                        <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Парола" ngModel>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputConfirmPassword">Потвърдете паролата</label>
                        <input type="password" class="form-control" id="inputConfirmPassword" name="confirmPassword" placeholder="Потвърдете паролата" ngModel>
                    </div>
                </div>        
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputCity">Град</label>
                        <select id="inputCity" class="form-control" name="city" ngModel>
                            <option selected>Изберете...</option>
                            <option>Шумен</option>
                            <option>Варна</option>
                            <option>Бургас</option>
                            <option>Добрич</option>
                            <option>Сливен</option>
                        </select>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputAge">Възраст</label>
                        <input type="number" class="form-control" id="inputAge" name="age" ngModel>
                    </div>
                </div>
                <div>
                    <span>
                        <button type="submit" class="btn btn-primary" (click)="registerHandler(f.value)">Регистрирай ме</button>
                    </span>
                    <br>
                    <br>
                    <br>
                    <span>
                        Имам Регистрация
                        <button type="submit" class="btn btn-primary">Влез</button>
                    </span>
                </div>
                
            </form>
        </div>
        <div class="col-sm-2">
        </div>
    </div>
</div>
